@import url('./base.css');
@import url('./basic-grid.css');
.photo-grid {
  display: grid;
  gap: 1rem;

  /* 1 too skinny, too much code */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */

  /* 2 cleaner code */
  /* grid-template-columns: repeat(12, 1fr); */

  /* 3  better sizing, but overflows */
  /* grid-template-columns: repeat(12, minmax(240px, 1fr)); */

  /* 4 final */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-width {
    grid-column: span 2 / auto;
  }
}
