body {
  background-color: tomato;
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: purple;
  font-size: 20px;
}

/* Add a black right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid black;
  display: inline;
  float: left;
  background-color: chartreuse;
}

li:last-child {
  border-right: none;
  margin-right: 20px;
}

a {
  display: block;
  padding: 18px;
  background-color: #dddddd;
}

.phases {
  align-items: center;
}
