body {
  background-color: gray;
}
.card {
  transition: border-color 1s, box-shadow 0.5s;
}
.card:hover {
  border-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px 2px rgb(255, 0, 0);
}

.card-title {
  display: flex;
  justify-content: center;
}

.film {
  font-size: 3rem;
}

@media all and (max-width: 600px) {
  .film {
    font-size: 2rem;
  }
  .card {
    width: 100%;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .img-card {
    width: 100%;
  }
}
