* {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background-image: url(Gods-Eye.jpeg);
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  margin-top: 40px;
}

button {
  background-color: #3baf9f;
  display: block;
  margin: 10px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #366473;
  padding: 14px 110px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0 0.25px;
}
.button:hover {
  background-color: #5390f5;
}
